* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: large; }

nav {
  background-image: url(../pages/resources/portada.jpg);
  background-size: cover;
  width: 100vw;
  height: 700px;
  border: black 2px; }
  nav .container-fluid {
    background-color: rgba(255, 255, 255, 0.65);
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-between; }
    nav .container-fluid .navbar-brand {
      width: 600px; }
      nav .container-fluid .navbar-brand img {
        width: 58%; }
    nav .container-fluid .navbar-toggler {
      order: 0; }
  @media (max-width: 768px) {
    nav .container-fluid {
      flex-direction: column;
      align-items: center; }
      nav .container-fluid .navbar-brand {
        margin-bottom: 10px;
        width: 100%; } }

.main-index {
  background-color: rgba(250, 250, 235, 0.534);
  font-family: "Open Sans", sans-serif;
  font-size: large;
  width: 100vw;
  padding: 30px; }
  .main-index .section-1 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 20px; }
    .main-index .section-1 article h2 {
      color: #e04622; }
    .main-index .section-1 article p {
      text-align: justify;
      padding: 50px; }
  .main-index .section-2 {
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    margin: 15px 20px 90px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .main-index .section-2 article {
      width: 500px;
      height: 300px;
      margin: 50px; }
      .main-index .section-2 article h2 {
        color: #e04622; }
      .main-index .section-2 article h3 {
        color: #e04622; }
    .main-index .section-2 ol li {
      list-style: square; }

@media (min-width: 768px) and (max-width: 1270px) {
  .main-index {
    max-height: none; }
    .main-index .section-2 {
      display: flex;
      flex-direction: row;
      box-sizing: border-box; } }

@media (min-width: 425px) and (max-width: 767px) {
  .main-index {
    overflow: scroll;
    padding: 0; }
    .main-index .section-1 {
      margin: 5px; }
    .main-index .section-2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: scroll; }
      .main-index .section-2 article {
        overflow: scroll;
        width: 500px;
        height: 200px;
        margin: 5px; } }

@media (max-width: 424px) {
  .main-index {
    overflow: scroll;
    padding: 0; }
    .main-index .section-1 {
      margin: 3px; }
    .main-index .section-2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: scroll; }
      .main-index .section-2 article {
        overflow: scroll;
        width: 500px;
        height: 200px;
        margin: 5px; } }

.main-nosotros {
  font-family: "Open Sans", sans-serif;
  width: 100vw; }
  .main-nosotros section .article-nosotros {
    background-color: rgba(250, 250, 235, 0.534);
    padding: 45px;
    text-align: justify; }
    .main-nosotros section .article-nosotros h1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: #e04622; }
    .main-nosotros section .article-nosotros p {
      padding: 70px; }
  .main-nosotros section .article-nosotros-2 {
    background-color: rgba(250, 250, 235, 0.534);
    padding: 30px;
    text-align: justify; }
    .main-nosotros section .article-nosotros-2 ul {
      list-style: none;
      padding: 15px;
      display: flex;
      justify-content: space-around; }
      .main-nosotros section .article-nosotros-2 ul li {
        width: 500px;
        padding: 30px; }
  .main-nosotros section .article-nosotros-3 {
    background-color: rgba(250, 250, 235, 0.534);
    padding: 30px; }
    .main-nosotros section .article-nosotros-3 h2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: #e04622; }
    .main-nosotros section .article-nosotros-3 ul {
      list-style: none;
      display: flex;
      justify-content: space-around; }
      .main-nosotros section .article-nosotros-3 ul li img {
        width: 200px;
        height: 200px; }
      .main-nosotros section .article-nosotros-3 ul p {
        font-weight: bolder; }

@media (min-width: 768px) and (max-width: 1439px) {
  .main-nosotros .article-nosotros-3 ul {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 425px) and (max-width: 767px) {
  .main-nosotros .article-nosotros {
    margin: 0;
    padding: 10px !important; }
    .main-nosotros .article-nosotros p {
      margin: 0;
      padding: 5px !important; }
  .main-nosotros .article-nosotros-3 ul {
    display: flex;
    flex-direction: column; } }

@media (max-width: 375px) {
  .main-nosotros {
    overflow-x: hidden; }
    .main-nosotros .article-nosotros {
      margin: 0;
      padding: 10px !important; }
      .main-nosotros .article-nosotros p {
        margin: 0;
        padding: 5px !important; }
    .main-nosotros .article-nosotros-2 {
      padding: 10px !important; }
      .main-nosotros .article-nosotros-2 ul {
        display: flex;
        flex-direction: column; }
        .main-nosotros .article-nosotros-2 ul li {
          padding: 5px !important; }
          .main-nosotros .article-nosotros-2 ul li p {
            width: 200px; }
    .main-nosotros .article-nosotros-3 ul {
      display: flex;
      flex-direction: column; } }

.main-servicios .article {
  background-color: rgba(250, 250, 235, 0.534);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-servicios .article h1 {
    color: #e04622; }
  .main-servicios .article ul {
    font-family: "Open Sans", sans-serif;
    list-style: none;
    margin: 0;
    padding: 15px;
    max-height: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "representacion venta-energia produccion-energia" "proyectos aom consultoria"; }
    .main-servicios .article ul .representacion {
      grid-area: representacion;
      padding: 30px; }
      .main-servicios .article ul .representacion p {
        text-align: justify; }
    .main-servicios .article ul .venta-energia {
      grid-area: venta-energia;
      padding: 30px; }
      .main-servicios .article ul .venta-energia p {
        text-align: justify; }
    .main-servicios .article ul .produccion-energia {
      grid-area: produccion-energia;
      padding: 30px; }
      .main-servicios .article ul .produccion-energia p {
        text-align: justify; }
    .main-servicios .article ul .proyectos {
      grid-area: proyectos;
      padding: 30px; }
      .main-servicios .article ul .proyectos p {
        text-align: justify; }
    .main-servicios .article ul .aom {
      grid-area: aom;
      padding: 30px; }
      .main-servicios .article ul .aom p {
        text-align: justify; }
    .main-servicios .article ul .consultoria {
      grid-area: consultoria;
      padding: 30px; }
      .main-servicios .article ul .consultoria p {
        text-align: justify; }

@media (min-width: 768px) and (max-width: 1439px) {
  .article {
    display: flex;
    align-items: center; }
    .article ul {
      display: flex;
      flex-wrap: wrap;
      max-width: 85%;
      justify-content: center;
      padding: 10px;
      width: auto; }
      .article ul li {
        height: auto; } }

@media (min-width: 200px) and (max-width: 767px) {
  .main-servicios .article ul {
    padding: 5px !important;
    display: flex;
    flex-wrap: wrap; }
    .main-servicios .article ul .representacion {
      padding: 5px;
      height: 300px; }
      .main-servicios .article ul .representacion h2 {
        text-align: center; }
      .main-servicios .article ul .representacion p {
        text-align: justify; }
    .main-servicios .article ul .venta-energia {
      padding: 5px;
      height: 400px; }
      .main-servicios .article ul .venta-energia h2 {
        text-align: center; }
      .main-servicios .article ul .venta-energia p {
        text-align: justify; }
    .main-servicios .article ul .produccion-energia {
      padding: 5px;
      height: 350px; }
      .main-servicios .article ul .produccion-energia h2 {
        text-align: center; }
      .main-servicios .article ul .produccion-energia p {
        text-align: justify; }
    .main-servicios .article ul .proyectos {
      padding: 5px;
      height: 350px; }
      .main-servicios .article ul .proyectos h2 {
        text-align: center; }
      .main-servicios .article ul .proyectos p {
        text-align: justify; }
    .main-servicios .article ul .aom {
      padding: 5px;
      height: 350px; }
      .main-servicios .article ul .aom h2 {
        text-align: center; }
      .main-servicios .article ul .aom p {
        text-align: justify; }
    .main-servicios .article ul .consultoria {
      padding: 5px;
      height: 550px; }
      .main-servicios .article ul .consultoria h2 {
        text-align: center; }
      .main-servicios .article ul .consultoria p {
        text-align: justify; } }

.main-proyectos {
  background-color: rgba(250, 250, 235, 0.534);
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-proyectos h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #e04622; }
  .main-proyectos .proye {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-template-rows: auto; }
    .main-proyectos .proye .article-proyectos {
      text-align: center;
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 5px; }
      .main-proyectos .proye .article-proyectos img {
        max-width: 100%;
        height: auto; }
      .main-proyectos .proye .article-proyectos h2 {
        padding: 15px;
        font-size: 36px;
        margin: 10px 0; }
      .main-proyectos .proye .article-proyectos ul {
        list-style: none;
        padding: 0; }
        .main-proyectos .proye .article-proyectos ul li {
          list-style: none;
          padding: 5px;
          font-size: 20px; }

@media (min-width: 425px) and (max-width: 767px) {
  .main-proyectos .proye {
    display: flex;
    flex-wrap: wrap; }
    .main-proyectos .proye .article-proyectos {
      border-radius: 1px; } }

@media (max-width: 424px) {
  .main-proyectos {
    overflow-x: hidden; }
    .main-proyectos .proye {
      display: flex;
      flex-wrap: wrap; }
      .main-proyectos .proye .article-proyectos {
        border-radius: 0.5px; } }

.main-contactanos {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(250, 250, 235, 0.534);
  width: 100vw;
  height: 600ppx; }
  .main-contactanos .grid-contactanos {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "article-contactanos-1 mapa" ". horario"; }
    .main-contactanos .grid-contactanos .article-contactanos-1 {
      padding: 20px;
      grid-area: article-contactanos-1; }
      .main-contactanos .grid-contactanos .article-contactanos-1 h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        color: #e04622;
        padding: 15px; }
      .main-contactanos .grid-contactanos .article-contactanos-1 .mensaje {
        width: 350px;
        height: 250px; }
    .main-contactanos .grid-contactanos .article-contactanos-2 {
      padding: 30px; }
      .main-contactanos .grid-contactanos .article-contactanos-2 .mapa {
        grid-area: mapa; }
      .main-contactanos .grid-contactanos .article-contactanos-2 .horario {
        padding: 30px;
        list-style: square; }
        .main-contactanos .grid-contactanos .article-contactanos-2 .horario li {
          padding: 5px; }

@media (min-width: 768px) and (max-width: 1070px) {
  .main-contactanos {
    height: auto; }
    .main-contactanos .grid-contactanos {
      display: flex;
      flex-wrap: wrap; } }

@media (min-width: 320px) and (max-width: 425px) {
  .main-contactanos {
    height: auto; }
    .main-contactanos .grid-contactanos {
      display: flex;
      flex-wrap: wrap; }
      .main-contactanos .grid-contactanos .article-contactanos-1 .mensaje {
        width: 250px;
        height: 150px; }
      .main-contactanos .grid-contactanos .mapa {
        width: 250px; } }

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  width: 100vw; }

.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100vw; }
  .contenedor .footer-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #495057;
    padding: 10px; }
  .contenedor .footer-links a:hover {
    color: #007bff; }
  .contenedor .contacto-info p {
    margin: 0;
    font-size: 14px;
    color: #495057;
    padding: 10px; }

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #495057;
  padding: 20px; }
  .copyright p {
    text-align: center;
    margin: 20px; }

@media (max-width: 1440px) {
  .copyright {
    text-align: center;
    color: #495057;
    padding: 20px; }
    .copyright p {
      text-align: center;
      margin: 20px; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .contenedor .footer-links a {
    display: flex;
    flex-direction: column; } }

@media (min-width: 425px) and (max-width: 767px) {
  .contenedor .footer-links a {
    display: flex;
    flex-direction: column; } }

@media (max-width: 424px) {
  .contenedor {
    display: flex;
    flex-direction: column; } }
