// imagen de fondo del menu
nav {
    background-image: url(../pages/resources/portada.jpg);
    background-size: cover;
    width: 100vw;
    height: 600px;
    border: black 2px;

    .container-fluid {
        background-color: white;
        color: #5e7279;
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: space-between; 

        .navbar-brand {
            width: 600px;
            img {
                width: 35%;
                background-color: white;
            }
        }

        .navbar-toggler {
            order: 0;  
        }
    }

    @media (max-width: 768px) {
        .container-fluid {
            flex-direction: column;  
            align-items: center;  

            .navbar-brand {
                margin-bottom: 10px; 
                width: 100%;
            }
        }
    }
}



