.main-nosotros{
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    section{
        .article-nosotros{
            background-color: rgba(250, 250, 235, 0.534);
            padding: 45px;
            text-align: justify; 
            h1{
                @include titulos (center);
            }
            p{
                padding: 70px;
            }
        }
        .article-nosotros-2{
            background-color: rgba(250, 250, 235, 0.534);
            padding: 30px;
            text-align: justify;
            
            ul{
                list-style: none;
                padding: 15px;
                display: flex;
                justify-content: space-around;
                li{
                    width: 500px;
                    padding: 30px;  
                }
            }
        }
        .article-nosotros-3{
            background-color: rgba(250, 250, 235, 0.534);
            padding: 30px;
            h2{
                @include titulos (center);
            }
            ul{
                list-style: none;
                display: flex;
                justify-content: space-around;
                li{
                    img{
                        width: 200px;
                        height: 200px;
                    }
                }
                p{
                    font-weight: bolder;
                }
            }
        }
    }
}
// medias queries para pag nosotros

@media (min-width: 768px) and (max-width: 1439px) {
    .main-nosotros{
        .article-nosotros-3{
            ul{
                display: flex;
                flex-wrap: wrap;
                
                }
            }
    }
    }
@media (min-width: 425px) and (max-width: 767px) {
    .main-nosotros{
        .article-nosotros{
            margin: 0;
            padding: 10px !important;
            p{
                margin: 0;
                padding: 5px !important;
            }
 
        }
        .article-nosotros-3{
        ul{
            display: flex;
            flex-direction: column;
            
            }
        }
    }
}
@media (max-width: 375px) {
    .main-nosotros{
        overflow-x: hidden;
        .article-nosotros{
            margin: 0;
            padding: 10px !important;
            p{
                margin: 0;
                padding: 5px !important;
            }
 
        }
         .article-nosotros-2{  
            padding: 10px !important;     
        ul{
            display: flex;
            flex-direction: column;
            li{
                padding: 5px !important; 
                p{
                    width: 200px;
                }
            };
        }
    }
    .article-nosotros-3{
        ul{
            display: flex;
            flex-direction: column;
            
            }
        }
    }
}