.main-proyectos{
    background-color: rgba(250, 250, 235, 0.534);
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;
    
    .grid{  
        // se agrega grid para cumplir con la entrega pero no es necesario, se puede resolver con flex  
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        .article-proyectos{
            text-align: center;
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 5px;
            img{
                max-width: 100%;
                height: auto;
            }
            h2{
                padding: 15px;
                font-size: 36px;
                margin: 10px 0;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    list-style: none;
                    padding: 5px;
                    font-size: 20px;
                }
            }
            
        }
    }
}
// medias queries proyectos
// es mejor pasar a flex ya que la informacion debe ser vertical
@media (min-width: 425px) and (max-width: 767px) {
    .main-proyectos{
        .grid{ 
            display: flex;
            flex-wrap: wrap;
            .article-proyectos{
                border-radius: 1px;
            }
        }
    }
}

@media (max-width: 424px) {
    .main-proyectos{
        overflow-x: hidden;
        .grid{ 
            display: flex;
            flex-wrap: wrap;
            .article-proyectos{
                border-radius: 0.5px;
            }
        }
    }
}