@mixin medias-queries ($porcentaje) {
    display: flex;
    flex-wrap: wrap;
    max-width: $porcentaje;
    justify-content: center;
}
@mixin titulos ($posicion){
    display: flex;
    flex-wrap: wrap;
    justify-content: $posicion;
    color: #e04622;
}